
main {
  /* setting font-size to 0 on the parent of a set of inline block elements removes white space between them.    */
 font-size: 0;
}


.container {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.box{
  border: 1px solid black;
  display: inline-block;
}

.inner1{
  width: 50%;
  height: 200px;
}

.inner2{
  width: 33.33%;
  height: 300px;
}

.container1 {
	background-color: green;
}

.container2 {
	background-color: blue;
}

.container3 {
	background-color: grey;
}

.container4 {
	background-color: black;
}

.container5 {
	background-color: yellow;
}

.centered {
  text-align: center;
}